* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}

nav {
  background-color: #1a75bc;
  height: 80px;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  background-color: #fed201;
  margin: 20px auto;
  width: 90%;
  display: flex;
  overflow: hidden;
  color: #000;
}

.main > div {
  flex: 1;
}

.main_info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_info h2 {
  color: #1a75bc;
  font-size: 30px;
}

.main_info h3 {
  color: #777;
  font-style: italic;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.8em;
  font-weight: 600;
  letter-spacing: 1px;
}

.main_info p {
  color: #000;
  font-size: 1em;
  line-height: 1.8em;
  margin: 0;
}

.main_img {
  display: flex;
}

.main_img img {
  width: 100%;
  height: auto;
}

.adopt {
  display: flex;
  margin: 50px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #1a75bc;
  margin: 20px;
  width: 500px;
  height: 200px;
  display: flex;
  overflow: hidden;
  color: #fff;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: #fed201;
  color: #000;
}

.card:hover button,
#cerrarModal {
  color: #1a75bc;
  border: 1px solid #1a75bc;
}

.card:hover h3,
#cerrarModal {
  color: #1a75bc;
}

.card:hover img {
  transform: scale(2);
}

.card_img {
  flex: 1;
  overflow: hidden;
}

.card_img img {
  width: auto;
  height: 100%;
  transition: all 1s;
}

.card_info {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px;
}

.card_info button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.footer {
  padding: 2em 0;
  background: #fed201;
  color: #000;
}

.footer_icons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footer_icons i {
  font-size: 20px;
  margin: 5px 10px;
}

.footer p {
  text-align: center;
  letter-spacing: 2px;
}
form {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
label {
  padding: 10px;
}

.modal {
  width: 400px;
  height: 450px;
  background: linear-gradient(
    270deg,
    rgba(11, 104, 243, 0.947),
    rgba(245, 226, 21, 0.947)
  );
  /* background: linear-gradient(
      180deg,
      rgba(235, 237, 240, 0.5),
      rgba(240, 240, 7, 0.5)
    ),
    url(https://i.pinimg.com/originals/3b/19/a2/3b19a2c666448a6f0ee3398273287367.jpg); */
  border: 5px solid #1a75bc;
  border-radius: 10px;
  position: fixed;
  top: 200px;
  left: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
.imagen-modal {
  display: flex;
  justify-content: flex-end;
}
.imagen-modal img:hover {
  transform: translate(-90px, 0px);
  transition: 5s;
}

.imagen-modal img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 5px solid #fed201;
}
.noMostrar {
  display: none;
}
.color-modal {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
#cerrarModal {
  color: #fafafa;
  background-color: #01080e;
  padding: 8px;
}
#cerrarModal:hover {
  background-color: #fed201;
  color: #000;
}
